<div class="footer">
  <div class="footer-links">
  <% if user_signed_in? %>
    <ul>
      <li>
          <%= link_to ('<i class="fa-solid fa-calendar"></i>').html_safe, events_path %>
          <%= link_to ('<i class="fa-solid fa-user-doctor"></i>').html_safe, destroy_user_session_path, method: :delete %>
          <%= link_to ('<i class="fa-solid fa-address-card"></i>').html_safe, dashboard_path %>
        </li>
      <% else %>
        <li>
          <%= link_to ('<i class="fa-solid fa-right-to-bracket"></i>').html_safe, new_user_session_path %>
          <%= link_to ('<i class="fa-solid fa-user-plus"></i>').html_safe, new_user_registration_path  %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
