<div class="main-event-div">
  <div class="main-event-div-content">
    <div class="event-part-div">
      <div style="background-image:url(<% if @event.activity.name == 'Sport' %>
                                      <%= asset_path "sports.jpg", alt: "Sport Activity", class:"event-img" %>
                                    <% elsif @event.activity.name == 'Finance' %>
                                      <%= asset_path "epargne.jpg", alt: "Finance Activity", class:"event-img" %>
                                    <% elsif @event.activity.name == 'Lecture' %>
                                      <%= asset_path "lecture.jpg", alt: "Lecture Activity", class:"event-img" %>
                                    <% elsif @event.activity.name == 'Meditation' %>
                                      <%= asset_path "pexels-prasanth-inturi-1051838.jpg", alt: "Meditation Activity", class:"event-img" %>
                                    <% elsif @event.activity.name == 'Projects' %>
                                      <%= asset_path "projet.jpg", alt: "Projects Activity", class:"event-img" %>
                                    <% end %>);
                                    height: 30vh;
                                    background-size: cover;
                                    background-position: center;">

      </div>

      <div class="d-flex justify-content-between align-items-center px-4">
        <h3 class="orange text-center my-3"><strong><%= @event.activity.name %></strong></h3>
        <div>
          <% if @event.user == current_user %>
            <i class="fa-solid fa-calendar-check event-icon calendar-icon"></i>
          <% elsif @registration_event.empty? %>
            <%= simple_form_for([@event, @registration], remote: true) do |f| %>
              <%= f.button :button,
                          '<i class="fa-solid fa-calendar-plus"></i>'.html_safe,
                          class: "event-icon calendar-icon",
                          data: { confirm: "Do you want to attend that event ?" }  %>
            <% end %>
          <% elsif !@registration_event.empty? %>
            <%= link_to '<i class="fa-solid fa-calendar-xmark"></i>'.html_safe,
                        registration_path(@registration_event.first),
                        method: :delete,
                        data: { confirm: "Are you sure you want to quit that event?" },
                        remote: true,
                        class: "event-icon calendar-icon delete-icon" %>
          <% end %>
        </div>
      </div>

      <div class="event-infos-card light-green mb-3">
        <div>
          <i class="fa-solid fa-location-dot"></i>&nbsp<em><%= @event.address %></em>
        </div>
        <div class="event-infos">
          <div>
            <i class="fa-solid fa-calendar-day"></i> &nbsp
          </div>
          <div class="event-date">
            From <strong><%= @event.start_time.strftime("%a %d %b %l:%M %p") %></strong><br>
            To <strong><%= @event.end_time.strftime("%a %d %b %l:%M %p") %></strong>
          </div>
        </div>
      </div>

      <div class="white-label event-infos-card mb-3">
        <div>
          <i class="fa-solid fa-user"></i> Organized by <%= @event.user.username %>
        </div>
        <div>
          <i class="fa-solid fa-users"></i> <%= @participants.count %> <%= 'participant'.pluralize(@participants.count) %> attending
        </div>
      </div>

      <div class="event-infos-card event-description white-label mb-2">
        <h4>Details</h4>
        <p><%= @event.description %></p>
      </div>
    </div>

    <div class="event-infos-card">
      <h4 class="orange mb-3">Comments (<%= @comments.count %>)</h4>

      <div>
        <% if @event.comments.blank? %>
          <p class="white-label"><em>Any question ?</em></p>
        <% else %>
          <% @comments.each do |comment| %>
            <div class="comment" id="comment-<%= comment.id %>">
              <div class="d-flex justify-content-between align-items-center">
                <div class="comment-username"><strong><%= comment.user.username %></strong></div>
                <div><em><%= comment.created_at.strftime('%d-%m-%y %H:%M') %></em></div>
              </div>
              <%= comment.content %>
            </div>
          <% end %>
        <% end %>
      </div>
      <%= simple_form_for([ @event, @comment ], remote: true) do |f| %>
      <div class="d-flex justify-content-between">
        <div class="w-100">
              <%= f.input :content,
                          label: false,
                          placeholder: "Ask a question or suggest an idea",
                          input_html: { class: "comment-bar"} %>
        </div>
        <div>
            <%= f.button :button, '<i class="fa-solid fa-circle-chevron-right"></i>'.html_safe, class: "event-icon calendar-icon" %>
        </div>
      <% end %>
      </div>
    </div>
  </div>
</div>
