<div class="main-start-div">
  <div class="main-start-div-content general-container">
    <h2 class= "summary-header">Log in</h2>

    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-inputs">
        <%= f.input :email,
                    required: false,
                    autofocus: true,
                    input_html: { autocomplete: "email" },
                    label_html: { class: "white-label" } %>
        <%= f.input :password,
                    required: false,
                    input_html: { autocomplete: "current-password", class: "white-label" },
                    label_html: { class: "white-label" } %>
        <%= f.input :remember_me, as: :boolean, label_html: { class: "white-label" } if devise_mapping.rememberable? %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Log in", class: "now-button" %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>
