<div class="dashboard-container">

  <div class="dash-goals-title-page">
    <h2 class="animate__animated animate__slideInLeft">My Dashboard</h2>
  </div>

  <div class="calendar">
    <%= week_calendar(events: @events, attribute: :start_time, end_attribute: :end_time) do |date, events, participations| %>
      <%= date %>

      <% events.each do |event| %>
        <div class="event">
          <p><%= link_to event.activity.name, event_path(event) %></p>
          <small><%= event.start_time.strftime("%H: %M") %></small><br>
          <small><%= event.end_time.strftime("%H: %M") %></small>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="event-create">
    <%= link_to "Create an event", new_event_path %>
  </div>

  <hr/>

  <div class="dash-goals-title">
    <h3 class="animate__animated animate__slideInLeft">My Goals</h3>
  </div>

  <div class="card__container">
    <% @goals.each do |goal| %>
      <div class="card">
        <div class="card__content">
          <h3 class="card__header activity-name"><%= goal.activity.name%></h3>
          <div class="frequence">
            <h3 class="card__header frequency"><%= goal.level.frequency %></h3>
            <h3 id="week-times">Times per week</h3>
          </div>
          <%= link_to goal_path(goal) do %>
            <div class="click-button" id="tasks-btn">
              <button><%= goal.tasks.count %> Tasks</button>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>

    <div class="card">
      <div class="card__content">
        <div class="new-goal">
          <%= link_to ('<i class="fa-solid fa-circle-plus"></i>').html_safe, new_goal_path %>
        </div>
      </div>
    </div>

  </div>

  <hr/>

  <div class="api">
    <h3 class="citation-title">La citation du jour par Kaamelott</h3>
    <blockquote class="citation"><<%= @citation %><span><%= @author %></span></blockquote>
  </div>

</div>
