<div class="dashboard-container">

  <div class="dash-goals-title-page">
    <h2 class="animate__animated animate__slideInLeft">My Dashboard</h2>
  </div>

  <div class="calendar">
    <%= week_calendar do |date| %>
      <%= date %>
    <% end %>
  </div>

  <hr/>

  <div class="dash-goals-title">
    <h3 class="animate__animated animate__slideInLeft">My Goals</h3>
  </div>

  <div class="card__container">
    <% @goals.each_with_index do |goal, index| %>
      <div class="card" id="<%= index %>">
        <div class="card__content">
          <div class="click-button" id="total">
            <button class="clickme" id="count">Completed? click!</button>
          </div>
          <h3 class="card__header activity-name"><%= goal.activity.name %></h3>
          <div class="frequence">
            <h3 class="card__header frequency"><%= goal.level.frequency %></h3>
            <h3 id="week-times">Times per week</h3>
          </div>
        </div>
      </div>
    <% end %>

    <div class="card">
      <div class="card__content">
        <div class="new-goal">
          <%= link_to ('<i class="fa-solid fa-circle-plus"></i>').html_safe, new_goal_path %>
        </div>
      </div>
    </div>

  </div>

  <hr/>

  <div class="api">
    <h3 class="citation-title">La citation du jour par Kaamelott</h3>
    <blockquote class="citation"><<%= @citation %><span><%= @author %></span></blockquote>
  </div>

</div>
