<div class="main-summary">
  <div class="summary-container">
    <div class="summary-header">
      <h1>Summary</h1>
    </div>

    <div class="goal-item">
      <div class="icon">
        <i class="fa-solid fa-calendar-check orange"></i>
      </div>
      <div class="days-summary-wrapper">
        <% if @goal.monday %>
          <div class="choice-item">Monday</div>
        <% end %>
        <% if @goal.tuesday %>
          <div class="choice-item">Tuesday</div>
        <% end %>
        <% if @goal.wednesday %>
        <div class="choice-item">Wednesday</div>
        <% end %>
          <% if @goal.thursday %>
          <div class="choice-item">Thursday</div>
        <% end %>
          <% if @goal.friday %>
          <div class="choice-item">Friday</div>
        <% end %>
          <% if @goal.saturday %>
          <div class="choice-item">Saturday</div>
        <% end %>
          <% if @goal.sunday %>
          <div class="choice-item">Sunday</div>
        <% end %>
      </div>
    </div>

    <hr class="inter-line">

    <div class="goal-item">
      <div class="icon">
        <i class="fa-solid fa-bullseye orange"></i>
      </div>
      <div class="choice-item">
        <%= @goal.activity.name.capitalize %>
      </div>
    </div>

    <hr class="inter-line">

    <div class="goal-item border-none">
      <div class="icon">
        <i class="fa-solid fa-dumbbell orange"></i>
      </div>
      <div class="choice-item">
        <%= @goal.level.name.capitalize %>
      </div>
    </div>

    <div class="navigation-buttons">
      <div class="back-button">
        <%= link_to "<h2><i class='fa-solid fa-chevron-left summary-header'></i></h2>".html_safe, :back %>
      </div>
      <div class="hidden-form">
        <%= simple_form_for @goal do |f| %>
          <%= f.input :monday, as: :hidden, value: @goal.monday %>
          <%= f.input :tuesday, as: :hidden, value: @goal.tuesday %>
          <%= f.input :wednesday, as: :hidden, value: @goal.wednesday %>
          <%= f.input :thursday, as: :hidden, value: @goal.thursday %>
          <%= f.input :friday, as: :hidden, value: @goal.friday %>
          <%= f.input :saturday, as: :hidden, value: @goal.saturday %>
          <%= f.input :sunday, as: :hidden, value: @goal.sunday %>
          <%= f.association :activity, as: :hidden, value: @goal.activity %>
          <%= f.association :level, as: :hidden, value: @goal.level %>
      </div>
      <div>
          <%= f.submit 'Now !', class: "now-button" %>
        <% end %>
      </div>
    </div>

  </div>
</div>
