<div class="main-start-div" id="step-2">
    <div class="main-start-div-content">
      <div class="container-element">
        <div class="title-header">
          <h1>Days</h1>
        </div>
        <div class="days-wrapper">
          <div class="monday-content">
            <%= f.input :monday,
                as: :boolean,
                checked_value: true,
                unchecked_value: false %>
          </div>
          <div class="tuesday-content">
            <%= f.input :tuesday,
                as: :boolean,
                checked_value: true,
                unchecked_value: false %>
          </div>
          <div class="wednesday-content">
            <%= f.input :wednesday,
                as: :boolean,
                checked_value: true,
                unchecked_value: false %>
          </div>
          <div class="thursday-content">
            <%= f.input :thursday,
                as: :boolean,
                checked_value: true,
                unchecked_value: false %>
          </div>
          <div class="friday-content">
            <%= f.input :friday,
                as: :boolean,
                checked_value: true,
                unchecked_value: false %>
          </div>
          <div class="saturday-content">
            <%= f.input :saturday,
                as: :boolean,
                checked_value: true,
                unchecked_value: false %>
          </div>
          <div class="sunday-content">
            <%= f.input :sunday,
                as: :boolean,
                checked_value: true,
                unchecked_value: false %>
          </div>
        </div>
      </div>
      <div class="next-btn">
        <h2><i class='fa-solid fa-chevron-right summary-header'></i></h2>
      </div>
    </div>
</div>
